.Header {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
}

.Header-title {
  grid-column-start: 2;
  justify-self: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.Scoreboard {
  grid-column-start: 3;
  justify-self: center;
}
